name: CI/CD

on:
  push:
    branches: [ main ]

env:
  IMAGE_NAME: ${{ secrets.DOCKERHUB_USERNAME }}/nginx-demo

jobs:
  scan:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v2
        env:
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}   # เช่น http://127.0.0.1:9000 หรือ http://minikube:9000
          SONAR_TOKEN:    ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            -Dsonar.projectKey=nginx-demo
            -Dsonar.sources=./web
            -Dsonar.sourceEncoding=UTF-8

  build_push:
    runs-on: ubuntu-latest
    needs: scan
    steps:
      - uses: actions/checkout@v4
      - name: Docker Login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & Push
        uses: docker/build-push-action@v6
        with:
          context: ./web
          push: true
          tags: |
            ${{ env.IMAGE_NAME }}:latest
            ${{ env.IMAGE_NAME }}:${{ github.sha }}

  deploy:
    runs-on: ubuntu-latest
    needs: build_push
    steps:
      - uses: actions/checkout@v4

      - name: Write kubeconfig
        run: |
          set -euo pipefail
          echo "${{ secrets.KUBECONFIG }}" > kubeconfig
          chmod 600 kubeconfig
          echo "KUBECONFIG=$PWD/kubeconfig" >> "$GITHUB_ENV"

      - name: Rollout new image
        run: |
          set -euo pipefail
          kubectl --kubeconfig "$KUBECONFIG" -n demo set image \
            deployment/nginx-demo nginx="${{ env.IMAGE_NAME }}:latest"
          kubectl --kubeconfig "$KUBECONFIG" -n demo rollout status \
            deployment/nginx-demo --timeout=180s
