name: CI CD Pipeline

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  sonar-scan:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4

      - name: Setup Java 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'

      - name: Download SonarScanner CLI
        run: |
          set -e
          SC_VER=5.0.1.3006
          curl -fsSL -o scanner.zip "https://binaries.sonarsource.com/Distribution/sonar-scanner-cli/sonar-scanner-cli-${SC_VER}-macosx.zip"
          unzip -q scanner.zip -d $HOME
          mv $HOME/sonar-scanner-* $HOME/sonar-scanner
          echo "$HOME/sonar-scanner/bin" >> $GITHUB_PATH

      - name: Normalize SONAR secrets
        run: |
          H=$(printf "%s" "${{ secrets.SONAR_HOST_URL }}" | tr -d '\r\n ')
          T=$(printf "%s" "${{ secrets.SONAR_TOKEN }}"    | tr -d '\r\n ')
          echo "SONAR_HOST_URL=$H" >> $GITHUB_ENV
          echo "SONAR_TOKEN=$T"    >> $GITHUB_ENV
          echo "Using SONAR_HOST_URL=$H"

      - name: Validate Sonar token (local)
        run: |
          set -e
          RES=$(curl -s -u "${SONAR_TOKEN}:" "${SONAR_HOST_URL}/api/authentication/validate" || true)
          echo "$RES"
          echo "$RES" | grep -q '"valid":true' || { echo "SONAR_TOKEN is NOT valid against ${SONAR_HOST_URL}"; exit 1; }

      - name: SonarQube Scan
        run: |
          sonar-scanner \
            -Dsonar.projectKey=nginx-demo \
            -Dsonar.sources=./web \
            -Dsonar.sourceEncoding=UTF-8 \
            -Dsonar.host.url="${SONAR_HOST_URL}" \
            -Dsonar.login="${SONAR_TOKEN}"

  build-and-push:
    runs-on: self-hosted
    needs: sonar-scan
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-buildx-action@v3
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build & Push image
        uses: docker/build-push-action@v6
        with:
          context: ./web
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/nginx-demo:latest

  deploy:
    runs-on: self-hosted
    needs: build-and-push
    steps:
      - uses: actions/checkout@v4
      - name: kubectl set image & rollout
        run: |
          kubectl -n demo set image deployment/nginx-demo nginx=${{ secrets.DOCKERHUB_USERNAME }}/nginx-demo:latest
          kubectl -n demo rollout status deployment/nginx-demo
