name: CI CD Pipeline

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  sonar-scan:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Sonar Scan (via docker)
        uses: addnab/docker-run-action@v3
        with:
          image: sonarsource/sonar-scanner-cli:7.3.0
          options: -v ${{ github.workspace }}:/src -w /src
          run: |
            sonar-scanner \
              -Dsonar.projectKey=nginx-demo \
              -Dsonar.sources=./web \
              -Dsonar.sourceEncoding=UTF-8 \
              -Dsonar.host.url=${{ secrets.SONAR_HOST_URL }} \
              -Dsonar.login=${{ secrets.SONAR_TOKEN }}

  build-and-push:
    runs-on: ubuntu-latest
    needs: sonar-scan
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build & Push image
        uses: docker/build-push-action@v6
        with:
          context: ./web
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/nginx-demo:latest

  deploy:
    # รันบน self-hosted runner เครื่องคุณ ที่มี kubectl + minikube พร้อม KUBECONFIG
    runs-on: self-hosted
    needs: build-and-push
    steps:
      - uses: actions/checkout@v4
      - name: kubectl set image & rollout
        run: |
          kubectl -n demo set image deployment/nginx-demo nginx=${{ secrets.DOCKERHUB_USERNAME }}/nginx-demo:latest
          kubectl -n demo rollout status deployment/nginx-demo
