name: CI CD Pipeline

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  sonar-scan:
    runs-on: self-hosted
    steps:
      - name: Ensure admin password & create CI token
        env:
          HOST: ${{ secrets.SONAR_HOST_URL }}
          ADMIN_PASS: ${{ secrets.SONAR_ADMIN_PASS }}
        run: |
          set -euo pipefail
          HOST="${HOST:-http://localhost:9000}"

          echo "➡️  Checking SonarQube availability..."
          for i in {1..60}; do
            if curl -sSf "$HOST/api/system/status" | grep -q '"status":"UP"'; then
              break
            fi
            echo "Waiting SonarQube... ($i)"; sleep 2
          done

          echo "➡️  Validating admin password..."
          if ! curl -s -u "admin:${ADMIN_PASS}" "$HOST/api/authentication/validate" | grep -q '"valid":true'; then
            echo "❌ Invalid SONAR_ADMIN_PASS (check secret value)."; exit 1
          fi

          echo "✅ Admin validated, creating token..."
          RES=$(curl -s -u "admin:${ADMIN_PASS}" -X POST "$HOST/api/user_tokens/generate?name=ci$(date +%s)")
          echo "Raw response: $RES"
          TOKEN=$(python3 -c "import sys, json; print(json.load(sys.stdin).get('token',''))" <<<"$RES")

          if [ -z "$TOKEN" ]; then
            echo "❌ Failed to create token"; exit 1
          fi

          echo "✅ Token created successfully"
          echo "SONAR_HOST_URL=$HOST" >> $GITHUB_ENV
          echo "SONAR_TOKEN=$TOKEN" >> $GITHUB_ENV
          echo "::add-mask::$TOKEN"



  build-and-push:
    runs-on: self-hosted
    needs: sonar-scan
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-buildx-action@v3
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build & Push image
        uses: docker/build-push-action@v6
        with:
          context: ./web
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/nginx-demo:latest

  deploy:
    runs-on: self-hosted
    needs: build-and-push
    steps:
      - uses: actions/checkout@v4
      - name: kubectl set image & rollout
        run: |
          kubectl -n demo set image deployment/nginx-demo nginx-demo=${{ secrets.DOCKERHUB_USERNAME }}/nginx-demo:latest
          kubectl -n demo rollout status deployment/nginx-demo --timeout=120s